<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap-switch.min.css" rel="stylesheet">
    {{!--
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">s --}}

    <link href='/css/mapbox-gl.css' rel='stylesheet' />
    <link href="/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/css/dashboard.css" type="text/css" rel="stylesheet">
    <link href="/css/bootstrap-combobox.css" type="text/css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/my/left.css" rel="stylesheet">
    <link href="/css/my/middle.css" rel="stylesheet">
    <link href="/css/my/right.css" rel="stylesheet">

</head>

<body>
    {{{body}}}
</body>

</html>