<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/css/import/bootstrap-switch.min.css" rel="stylesheet">
    {{!--
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">s --}}
    <link href="/css/import/jquery-ui.min.css" rel="stylesheet">
    <link href="/css/import/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/css/import/dashboard.css" type="text/css" rel="stylesheet">
    <link href="/css/import/bootstrap-combobox.css" type="text/css" rel="stylesheet">
    <link href="/css/import/bootstrap.min.css" rel="stylesheet">
    <link href="/css/my/frame.css" rel="stylesheet">
    <link href="/css/my/left.css" rel="stylesheet">
    <link href="/css/my/middle.css" rel="stylesheet">
    <link href="/css/my/right.css" rel="stylesheet">
    </script>

</head>

<body>
    {{{body}}}
</body>

</html>