/* .head-bg-color {
    background-color: #4f92ce;
} */




#headline_a {
    font-size: 0.9em;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}

#headline_b {
    font-size: 0.9rem;
    color: black;
    font-weight: 600
}

div#headLine {
    width: 100%;
    height: 1.4rem;
    padding-left: 10px;
    /* border-radius: .25em; */
    background-color: #409eff;
}

.color_brewer{
    position: absolute;
    top:1.5rem;
    height:4.9rem;
    left:2%;
    width:96%;
    border:1px solid #ecebeb
}

.nav_a{
    padding:.2rem .7rem;
    color:#97afff
}

#nav-tabContent div{
    height:3rem;
    line-height: 3rem;
}

.colorPicker{
    width:1rem;
    height:1rem;
    border:1px solid #b9b9b9;
    border-radius:20%;
    margin-left:.5rem;
}

.colorLabel{
    color: rgb(170, 170, 170);
    font-size: 0.8rem;
    font-weight: 500;
    margin-left:.7rem;
}



/****************************/
div#control_pannel {
    position: absolute;
    width: 100%;
    height: 40%;
}

#control_content {
    display: inline-block;
    position: absolute;
    vertical-align: top;
    left: 2%;
    top: 6.5rem;
    bottom: .2rem;
    width: 47%;
    /* border-radius: .25em; */
    border: 1.5px solid #ecebeb;
}

div#attributes {
    display: inline-block;
    position: absolute;
    top: 6.5rem;
    bottom: .2rem;
    right: 2%;
    width: 47%;
    /* border-radius: .25em; */
    border: 1.5px solid #ecebeb;

}

button.confirm {
    position: absolute;
    bottom: 0%;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;
    width: 100%;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ecebeb;
}

/*********************/

/******************************/

#treeDiv {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 60%;
}

div#buttonList {
    position: absolute;
    top: 1.5rem;
    left: 1%;
    width: 99%;
}

div#buttonList button {
    width: 4.5rem;
    border: 1px solid #bbbbbb;
}

.downList {
    padding: 0;
    font-size: .8rem;
    min-width: 5rem;
}

.downListData {
    padding: 0;
    font-size: .9rem;
    min-width: 5rem;
}

.downList a {
    padding: .2rem .5rem;
}

.tree_button {
    width: 3.5rem;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8rem;
}

#svg_tree {
    width: 100%;
    height: 95%;
    border-radius: .25rem;
    border: 1.5px solid #ecebeb;
}




.tuli {
    position: absolute;
    border-radius: 100%;
    width: 17;
    height: 17;
    right: 10;
    bottom: .2rem;
}

.slider_out {
    margin-top: 5%;
}

.slider_span {
    margin-left: 5%;
    color: #aaaaaa;
    display: inline;
    font-size: 0.85em;
    font-weight: 500;
}

.rangeLabel {
    color: #aaaaaa;
    font-size: 0.7rem;
    font-weight: 500;
}

#rangeLeft1 {
    position: absolute;
    top: 30%;
    left: 38%;

}

#rangeRight1 {
    position: absolute;
    top: 30%;
    right: 12%;

}

#rangeLeft2 {
    position: absolute;
    top: 50%;
    left: 38%;
}

#rangeRight2 {
    position: absolute;
    top: 50%;
    right: 12%;

}

#rangeLeft3 {
    position: absolute;
    top: 70%;
    left: 38%;
}

#rangeRight3 {
    position: absolute;
    top: 70%;
    right: 12%;     
}


.slider_input {
    width: 10%;
    margin-top: 4%;
    border: none;
    color: rgb(170, 170, 170);
    font-size: 0.85em;
    font-weight: 500
}

.slider {
    display: inline-block;
    width: 50%;
    right: 5%;
    margin-left: 10%;
    margin-top: 5%;
    ;
}

.slider .ui-slider-range {
    background: #429dff;
}

.slider .ui-state-hover {
    background: rgb(255, 254, 254);
}

.slider .ui-state-foucs {
    background: rgb(255, 255, 255);
}

.slider .ui-state-active {
    background: rgb(255, 255, 255);
}

.slider .ui-slider-handle {
    border-color: rgb(206, 205, 205);
}

#radio_out {
    margin-top: 5%;
    width: 100%;
}