/*********************************/


#scatter {
    position: absolute;
    width: 100%;
    height: 50%;
}

#svg_scatter {
    width: 100%;
    height: 100%;
}

div#scatter_canvas {
    width: 100%;
    height: 93.5%;
    border-radius: .2rem;
}

div#parallelDiv {
    position: absolute;
    top: 50%;
    margin-top: 0.1%;
    width: 100%;
    height: 50%;
}

#svg_parallel {
    width: 100%;
    height: 94%;
    border-radius: 4px;
    border: 1.5px solid #ecebeb;
}



#refresh {
    position: absolute;
    top: 6%;
    right: 0.5%;
    padding: 2;
}



button#toHeatmap {
    position: absolute;
    width: 4.5rem;
    top: 1.4rem;
    right: 0%;

    font-size: .8rem;
    font-weight: 400;

    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;


    border: 1.5px solid #ecebeb;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    border-bottom-left-radius: .2rem;
}






.tab-pane {
    width: 100%;
    height: 80%;
}