button#confirm {
    margin-left: 35%;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1em;
}

button#cluster_layout {
    position: absolute;
    top: 3%;
    right: 1%;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8em;
}

button#edge_bundling {
    position: absolute;
    top: 3%;
    right: 12%;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8em;
}

button#confirm_cluster {
    position: absolute;
    top: 6%;
    right: 2%;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8em;
}

div#moveButtons{
    position: absolute;
    top:7%;
    right:2%;
    width:20px;
}
div#moveButtons button{
    padding: 2
}

#refresh{
    position: absolute;
    top:6%;
    right:0.5%;
    padding:2;
}
/* button#zoomOut{
    margin-top: 2;
    padding:2
}
button#zoomIn{
        margin-top: 2;

    padding:2
}
button#ButtonLeft{
    padding:2
}
button#ButtonRight{
    padding:2
}
button#ButtonUp{
    padding:2
}
button#ButtonDown{
    padding:2
} */
button#brush {
    position: absolute;
    top: 6%;
    right: 28%;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8em;

}

button#cluster {
    position: absolute;
    top: 6%;
    right: 23%;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8em;
}


#dropdownMenuButton {
    background-color: white;
    color: gray;
    border: 0.5px gray solid;
}

#dropdown {
    position: absolute;
    top: 6%;
    right: 2%;
    border: none;
    color: white;
}



.tab-pane {
    width: 100%;
    height: 80%;
}