button#confirm {
    margin-left: 35%;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1em;
}

button#cluster_layout {
    position: absolute;
    top: 3%;
    right: 1%;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8em;
}

button#edge_bundling {
    position: absolute;
    top: 3%;
    right: 12%;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8em;
}

button#confirm_cluster {
    position: absolute;
    top: 6%;
    right: 2%;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8em;
}
button#zoomOut{
    position: absolute;
    top:13%;
    right:2%;
}
button#zoomIn{
    position: absolute;
    top:10%;
    right:2%;
}
button#Buttonleft{
    position: absolute;
    top:16%;
    right:2%;
}
button#Buttonright{
    position: absolute;
    top:19%;
    right:2%;
}
button#brush {
    position: absolute;
    top: 6%;
    right: 28%;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8em;

}

button#cluster {
    position: absolute;
    top: 6%;
    right: 23%;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8em;
}


#dropdownMenuButton {
    background-color: white;
    color: gray;
    border: 0.5px gray solid;
}

#dropdown {
    position: absolute;
    top: 6%;
    right: 2%;
    border: none;
    color: white;
}



.tab-pane {
    width: 100%;
    height: 80%;
}