{{!--
<link rel="stylesheet" type="text/css" href="/css/jq22-demo.css"> --}}


<script src="/js/echarts/echarts.js"></script>
<script src="/js/d3/d3.v4.min.js"></script>
<script src="/js/bootstrap/Popper.js"></script>
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/jquery/jquery-ui.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/hull.js"></script>
<script src="/js/d3.layout.cloud.js"></script>
<script src="/js/d3/sankey.js"></script>
<script src="/js/FileSaver.js"></script>
<script src="/js/d3/d3-ForceEdgeBundling.js"></script>
<script src="/js/leaflet/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
    integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
    crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
    integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
    crossorigin=""></script>
<script src="/js/heatmap.js"></script>


{{!-- <nav id="nav" class="navbar navbar-dark sticky-top  flex-md-nowrap p-0" style="border-bottom:3px solid rgb(216, 216, 216);">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="border-bottom:0.1px solid rgb(216, 216, 216);background-color:white;box-shadow:none;color:rgb(124, 124, 124);font-size:1.5em;">胜利油田</a>
</nav> --}}
<div id='left'>
    <div id='dataset'>
        <div id="headLine">
            <a id='headline_a'>Data Infomation</a>
        </div>
        <label style='color:rgb(124, 124, 124);margin:10px;display:inline-block;margin:2% 5% 1% 5%'>Dataset：
        </label>
        <div class="dropdown show" style="display:inline-block;">
            <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true" style='margin-top:-5px;'>
                Patent
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Chicago</a>
                <a class="dropdown-item" href="#">Simulation data</a>
            </div>
        </div>
        <div style='display:block'>
            <label style='color:rgb(124, 124, 124);display:inline-block;margin:0 0 1% 5%; '>Nodes
            </label>
            <label style='color:rgb(124, 124, 124);display:inline-block;margin:0 0 1% 20%;'>Edges
            </label>
            <label style='color:rgb(124, 124, 124);margin:0 0 1% 16%;'>Attributes
            </label>
        </div>

        <div style='disply:block;color:rgb(124, 124, 124)'>
            <a class='data_info' id='node_quantity'  style='margin-left:5%;width:50px;'>0</a>
            <a class='data_info' id='edge_quantity'  style='margin-left:15%;width:70px;'>0</a>
            <a class='data_info' id='attr_quantity'  style='margin-left:15%;width:50px;'>0</a>
        </div>

    </div>

    <div id='control_pannel'>
        <div id="headLine">
            <a id='headline_a'>Control Pannel</a>
        </div>
        <div id='controlInner'>
            <div id='headline'><a id='headline_b'>Model Parameter</a></div>

            <div class='slider_out'>
                <span class='slider_span'>WT:
                </span>
                <input type="text" id="times_text" class='slider_input' value=5>
                <div id='walk_times' class='slider'></div>
                <span class='rangeLeft'>35</span>
            </div>
            
            <div class='slider_out'>
                <span class='slider_span'>WL:
                </span>
                <input type="text" id="length_text" class='slider_input' value=5>
                <div id='walk_length' class='slider'></div>
                <span class='rangeLeft'>35</span>
            </div>
            {{!-- <div id='radio_out'>
                <span class='slider_span'>RT:</span>
                <div class="custom-control custom-radio custom-control-inline" style='margin:5% 1% 0 5%;color:gray'>
                    <input type="radio" id="ret_True" name="customRadioInline_return" class="custom-control-input">
                    <label class="custom-control-label" for="ret_True">True</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline"
                    style='margin-left:0%;margin-top:3%;color:gray'>
                    <input type="radio" id="ret_False" name="customRadioInline_return" class="custom-control-input"
                        checked=True>
                    <label class="custom-control-label" for="ret_False">False</label>
                </div>
            </div> --}}

            <div class='btn_out'>
                <button id="confirm" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Confirm</button>
            </div>

        </div>


        <div id='attributes'>
            <div id='headline'><a id='headline_b'>Attributions Selected</a></div>

            <div class="custom-control custom-checkbox" style='margin:3% 5% 0 5%;'>
                <input type="checkbox" class="custom-control-input" id="1" checked='true'>
                <label class="custom-control-label" for="1" id="citedLabel" style='color:gray'>Conference</label>
                <div class='tuli' style='background-color:#A597FF'></div>
            </div>

            <div class="custom-control custom-checkbox" style='margin:3% 5% 0 5%;'>
                <input type="checkbox" class="custom-control-input" id="2">
                <label class="custom-control-label" for="2" id="abtLabel" style='color:gray'>Year</label>
                <div class='tuli' style='background-color:#A597FF'></div>
            </div>

            <div class="custom-control custom-checkbox" style='margin:3% 5% 0 5%;'>
                <input type="checkbox" class="custom-control-input" id="3">
                <label class="custom-control-label" for="3" id="confLabel" style='color:gray'>Paper Type</label>
                <div class='tuli' style='background-color:#FFAB7C'></div>

            </div>

            {{!-- <div class="custom-control custom-checkbox" style='margin:3% 5% 0 5%;'>
                <input type="checkbox" class="custom-control-input" id="3">
                <label class="custom-control-label" for="3" id="yearLabel" style='color:gray'>18:00 ~ 21:00</label>
                <div class='tuli' style='background-color:#EE89FF'></div>

            </div> --}}

            {{!-- <div class="custom-control custom-checkbox" style='margin:3% 5% 0 5%;'>
                <input type="checkbox" class="custom-control-input" id="4">
                <label class="custom-control-label" for="4" id="affLabel" style='color:gray'>22:00 ~ 6:00</label>
                <div class='tuli' style='background-color:#00D8FF'></div>

            </div> --}}
            <button id="confirm" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Confirm</button>
        </div>
    </div>

    <div id='treeDiv'>
        <div id="headLine">
            <a id='headline_a'>Tree View</a>
        </div>
        <button id="confirm_cluster" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">confirm</button>
        <svg id='svg_tree'></svg>
    </div>
</div>

<div id='mid'>

    <div id='forceDiv'>
        <div id="headLine">
            <a id='headline_a'>Abstraction View</a>
        </div>
        <svg id='svg_force'></svg>
        <div id='innerTopo' class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="topo">
            <label class="custom-control-label" for="topo" id="citedLabel" style='color:gray'>Inner Topology</label>
        </div>
        <button id="origin" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Original topology</button>
        <button id="cluster_layout" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Cluster Layout</button>
        <button id="edge_bundling" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Edge Bundling</button>
        <div id='moveButtons'>
            <button type="button" class="btn btn-outline-secondary my-2 my-sm-1 Movebutton" aria-label="Left Align"
                id='zoomIn'>
                <img src="/img/zoom in.png" width='20' height="20">
            </button>
            <button type="button" class="btn btn-outline-secondary my-2 my-sm-1 Movebutton" aria-label="Left Align"
                id='zoomOut'>
                <img src="/img/zoom out.png" width='20' height="20">
            </button>
            <button type="button" class="btn btn-outline-secondary my-2 my-sm-1 Movebutton" aria-label="Left Align"
                id='ButtonLeft'>
                <img src="/img/arrowleft.png" width='20' height="20">
            </button>
            <button type="button" class="btn btn-outline-secondary my-2 my-sm-1 Movebutton" aria-label="Left Align"
                id='ButtonRight'>
                <img src="/img/arrowright.png" width='20' height="20">
            </button>
            <button type="button" class="btn btn-outline-secondary my-2 my-sm-1 Movebutton" aria-label="Left Align"
                id='ButtonUp'>
                <img src="/img/arrowup.png" width='20' height="20">
            </button>
            <button type="button" class="btn btn-outline-secondary my-2 my-sm-1 Movebutton" aria-label="Left Align"
                id='ButtonDown'>
                <img src="/img/arrowdown.png" width='20' height="20">
            </button>
        </div>
    </div>


</div>
<div id='right'>
    <div id='scatter'>
        <div id="headLine">
            <a id='headline_a'>Projection View</a>
        </div>
        <div id='toHeatmap' class="custom-control custom-checkbox" style='margin:0 0 0 0;'>
            <input type="checkbox" class="custom-control-input" id="inputHeat">
            <label class="custom-control-label" for="inputHeat" id="labelHeat" style='color:gray'>HeatMap</label>
        </div>
        {{!-- <button id="point" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Point</button> --}}
        <div id='scatter_canvas'>
            <svg id='svg_scatter'></svg>
        </div>

        {{!-- <button id="toHeatmap" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">HeatMap</button> --}}

        <div class="dropdown" id='dropdown'>
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                style='font-size:0.8em;padding:.0rem .5rem;'>
                walk combination
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id='options' style='min-width:9rem;'>
            </div>
        </div>
    </div>

    <div id='ParallelDiv'>
        <div id="headLine">
            <a id='headline_a'>Parallel View</a>
        </div>
        <svg id='svg_parallel'></svg>
    </div>

</div>



</div>
<script src="/js/my/variable.js"></script>
<script src="/js/my/sactter.js"></script>
<script src="/js/my/mapView.js"></script>
<script src="/js/my/river.js"></script>
<script src="/js/my/radar.js"></script>
<script src="/js/my/force.js"></script>
<script src="/js/my/axis.js"></script>
<script src="/js/my/parallel.js"></script>
<script src="/js/my/cluster.js"></script>
<script src="/js/my/sankeyChart.js"></script>
<script src="/js/my/pixel_tree.js"></script>
<script src="/js/my/option.js"></script>