{{!--
<link rel="stylesheet" type="text/css" href="/css/jq22-demo.css"> --}}


{{!-- <script src="/js/echarts/echarts.js"></script> --}}
<script src="/js/d3/d3.v4.min.js"></script>
<script src="/js/bootstrap/Popper.js"></script>
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/jquery/jquery-ui.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/hull.js"></script>
<script src="/js/d3.layout.cloud.js"></script>
<script src="/js/d3/sankey.js"></script>
<script src="/js/FileSaver.js"></script>
<script src="/js/d3/d3-ForceEdgeBundling.js"></script>
<script src="/js/leaflet/leaflet.js"></script>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="/js/heatmap.js"></script>
<script src="/js/jscolor.js"></script>
<script src='/js/kdTree.js'></script>

{{!-- <nav id="nav" class="navbar navbar-dark sticky-top  flex-md-nowrap p-0" style="border-bottom:3px solid rgb(216, 216, 216);">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="border-bottom:0.1px solid rgb(216, 216, 216);background-color:white;box-shadow:none;color:rgb(124, 124, 124);font-size:1.5em;">胜利油田</a>
</nav> --}}
<div id='left'>

    {{!-- <div id='dataset'>
        <label style='color:rgb(124, 124, 124);margin:10px;display:inline-block;margin:2% 5% 1% 5%'>Dataset：
        </label>
        <div class="dropdown show" style="display:inline-block;">
            <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="button_dataset" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true" style='margin-top:-5px;'>
                Paper Data
            </a>
            <div class="dropdown-menu downListData" aria-labelledby="button_dataset" id='datasetDropdown'>
                <a class="dropdown-item" value='patent'>Patent Data</a>
                <a class="dropdown-item" value='paper'>Paper Data</a>
            </div>
        </div>
    </div> --}}




    <div id='control_pannel'>
        <div id="headLine">
            <a id='headline_a'>Control Pannel</a>
        </div>

        <div class='color_brewer'>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a id='nav_a_1' class="nav-item nav-link nav_a disabled" id="nav-home-tab" data-toggle="tab"
                        href="#nav-1" role="tab" aria-controls="nav-home" aria-selected="true">Conf</a>
                    <a id='nav_a_2' class="nav-item nav-link nav_a disabled" id="nav-profile-tab" data-toggle="tab"
                        href="#nav-2" role="tab" aria-controls="nav-profile" aria-selected="false">Year</a>
                    <a id='nav_a_3' class="nav-item nav-link nav_a disabled" id="nav-contact-tab" data-toggle="tab"
                        href="#nav-3" role="tab" aria-controls="nav-contact" aria-selected="false">Type</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="nav-1" role="tabpanel" aria-labelledby="nav-home-tab"></div>
                <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
                <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
            </div>
        </div>


        <div id='control_content'>
            <div id='headline'><a id='headline_b'>Deepwalk</a></div>
            <span id='rangeLeft1' class='rangeLabel'>10</span>
            <span id='rangeRight1' class='rangeLabel'>30</span>

            <div class='slider_out'>
                <span class='slider_span'>WT:
                </span>
                <input type="text" id="times_text" class='slider_input' style='margin-right:2' value=10>
                <div id='walk_times' class='slider'></div>
            </div>
            <span id='rangeLeft2' class='rangeLabel'>10</span>
            <span id='rangeRight2' class='rangeLabel'>40</span>
            <div class='slider_out'>
                <span class='slider_span'>WL:
                </span>
                <input type="text" id="length_text" class='slider_input' style='margin-right:3' value=20>
                <div id='walk_length' class='slider'></div>
            </div>

            <span id='rangeLeft3' class='rangeLabel'>0</span>
            <span id='rangeRight3' class='rangeLabel'>20</span>
            <div class='slider_out'>
                <span class='slider_span'>WD:
                </span>
                <input type="text" id="windows_text" class='slider_input' value=5>
                <div id='word_length' class='slider'></div>
            </div>
            {{!-- <div id='radio_out'>
                <span class='slider_span'>RT:</span>
                <div class="custom-control custom-radio custom-control-inline" style='margin:5% 1% 0 5%;color:gray'>
                    <input type="radio" id="ret_True" name="customRadioInline_return" class="custom-control-input">
                    <label class="custom-control-label" for="ret_True">True</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline"
                    style='margin-left:0%;margin-top:3%;color:gray'>
                    <input type="radio" id="ret_False" name="customRadioInline_return" class="custom-control-input"
                        checked=True>
                    <label class="custom-control-label" for="ret_False">False</label>
                </div>
            </div> --}}

            <div class='btn_out'>
                <button id="confirm_param" class="btn btn-outline-secondary my-2 my-sm-0 confirm"
                    type="button">Confirm</button>
            </div>

        </div>


        <div id='attributes'>
            <div id='headline'><a id='headline_b'>Attributions Selected</a></div>

            <div class="custom-control custom-checkbox" style='margin:3% 5% 0 5%;'>
                <input type="checkbox" class="custom-control-input" id="1" checked>
                <label class="custom-control-label" for="1" id="citedLabel" style='color:gray'>Conference</label>
                <div class='tuli' style='background-color:#7fc97f'></div>
            </div>

            <div class="custom-control custom-checkbox" style='margin:3% 5% 0 5%;'>
                <input type="checkbox" class="custom-control-input" id="2">
                <label class="custom-control-label" for="2" id="abtLabel" style='color:gray'>Year</label>
                <div class='tuli' style='background-color:#beaed4'></div>
            </div>

            <div class="custom-control custom-checkbox" style='margin:3% 5% 0 5%;'>
                <input type="checkbox" class="custom-control-input" id="3">
                <label class="custom-control-label" for="3" id="confLabel" style='color:gray'>Paper Type</label>
                <div class='tuli' style='background-color:#fdc086'></div>
            </div>

            {{!-- <div class="custom-control custom-checkbox" style='margin:3% 5% 0 5%;'>
                <input type="checkbox" class="custom-control-input" id="3">
                <label class="custom-control-label" for="3" id="yearLabel" style='color:gray'>18:00 ~ 21:00</label>
                <div class='tuli' style='background-color:#EE89FF'></div>

            </div> --}}

            {{!-- <div class="custom-control custom-checkbox" style='margin:3% 5% 0 5%;'>
                <input type="checkbox" class="custom-control-input" id="4">
                <label class="custom-control-label" for="4" id="affLabel" style='color:gray'>22:00 ~ 6:00</label>
                <div class='tuli' style='background-color:#00D8FF'></div>

            </div> --}}
            <button id="confirm_attr" class="btn btn-outline-secondary my-2 my-sm-0 confirm"
                type="button">Confirm</button>
        </div>
    </div>

    <div id='treeDiv'>
        <div id="headLine">
            <a id='headline_a'>Tree View</a>
        </div>
        <div id='buttonList' class="btn-group" role="group" aria-label="Basic example">
            <div id='dropdown1' class="btn-group" role="group">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle tree_button" type="button"
                    id="button_w1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style='font-size:0.8em;padding:.0rem .5rem;'>
                    w1: 1
                </button>
                <div class="dropdown-menu downList" aria-labelledby="dropdownMenuButton" id='w1'>
                    <a class="dropdown-item" href="#" value=1>1</a>
                    <a class="dropdown-item" href="#" value=2>2</a>
                    <a class="dropdown-item" href="#" value=3>3</a>
                </div>
            </div>
            <div id='dropdown2' class="btn-group" role="group">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="button_w2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style='font-size:0.8em;padding:.0rem .5rem;'>
                    w2: 5
                </button>
                <div class="dropdown-menu downList" aria-labelledby="dropdownMenuButton" id='w2'>
                    <a class="dropdown-item" href="#" value=1>1</a>
                    <a class="dropdown-item" href="#" value=2>2</a>
                    <a class="dropdown-item" href="#" value=3>3</a>
                    <a class="dropdown-item" href="#" value=4>4</a>
                    <a class="dropdown-item" href="#" value=5>5</a>
                    <a class="dropdown-item" href="#" value=6>6</a>
                    <a class="dropdown-item" href="#" value=7>7</a>
                </div>
            </div>
            <div id='dropdown3' class="btn-group" role="group">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="button_w3"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style='font-size:0.8em;padding:.0rem .5rem;'>
                    w3: 0.1
                </button>
                <div class="dropdown-menu downList" aria-labelledby="dropdownMenuButton" id='w3'>
                    <a class="dropdown-item" href="#" value=0.1>0.1</a>
                    <a class="dropdown-item" href="#" value=0.2>0.2</a>
                    <a class="dropdown-item" href="#" value=0.3>0.3</a>
                </div>
            </div>
            <button id="em" class="btn btn-outline-secondary my-2 my-sm-0 tree_button" type="button">em</button>
            <button id="confirm_cluster" class="btn btn-outline-secondary my-2 my-sm-0 tree_button" type="button"
                style='border-bottom-right-radius:.25rem'>confirm</button>

        </div>



        <svg id='svg_tree'></svg>
    </div>
</div>

<div id='mid'>

    <div id='forceDiv'>
        <div id="headLine">
            <a id='headline_a'>Aggregation View</a>
        </div>
        <svg id='svg_force'></svg>

        <div id='data_info' style='disply:block;color:rgb(124, 124, 124)'>
            <label>Nodes: </label>
            <a id='node_quantity'>0</a>
            <label>Edges: </label>
            <a id='edge_quantity'>0</a>
            <label>Cluster: </label>
            <a id='cluster_quantity'>0</a>
        </div>
        <div id='force_button_out'>
            <div id='button_group_force' class="btn-group" role="group" aria-label="Basic example">
                <button id="inner" class="btn btn-outline-secondary my-2 my-sm-0" type="button"
                    style='border-bottom-left-radius:.25rem;'>Inner</button>
                <button id="origin" class="btn btn-outline-secondary my-2 my-sm-0" type="button">Origin</button>
                <button id="cluster_layout" class="btn btn-outline-secondary my-2 my-sm-0"
                    type="button">Cluster</button>
                <button id="edge_bundling" class="btn btn-outline-secondary my-2 my-sm-0"
                    type="button">Bundling</button>
            </div>
        </div>




        <div id='moveButtons'>
            <button type="button" class="btn btn-outline-secondary my-2 my-sm-1 Movebutton" aria-label="Left Align"
                id='zoomIn'>
                <img src="/img/zoom in.png" width='20' height="20">
            </button>
            <button type="button" class="btn btn-outline-secondary my-2 my-sm-1 Movebutton" aria-label="Left Align"
                id='zoomOut'>
                <img src="/img/zoom out.png" width='20' height="20">
            </button>
            <button type="button" class="btn btn-outline-secondary my-2 my-sm-1 Movebutton" aria-label="Left Align"
                id='ButtonLeft'>
                <img src="/img/arrowleft.png" width='20' height="20">
            </button>
            <button type="button" class="btn btn-outline-secondary my-2 my-sm-1 Movebutton" aria-label="Left Align"
                id='ButtonRight'>
                <img src="/img/arrowright.png" width='20' height="20">
            </button>
            <button type="button" class="btn btn-outline-secondary my-2 my-sm-1 Movebutton" aria-label="Left Align"
                id='ButtonUp'>
                <img src="/img/arrowup.png" width='20' height="20">
            </button>
            <button type="button" class="btn btn-outline-secondary my-2 my-sm-1 Movebutton" aria-label="Left Align"
                id='ButtonDown'>
                <img src="/img/arrowdown.png" width='20' height="20">
            </button>

        </div>
    </div>


</div>
<div id='right'>
    <div id='scatter'>
        <div id="headLine">
            <a id='headline_a'>Projection View</a>
        </div>

        <button id="toHeatmap" class="btn btn-outline-secondary my-2 my-sm-0">HeatMap</button>
        <div id='scatter_canvas'>
            <svg id='svg_scatter'></svg>
        </div>

        {{!-- <button id="toHeatmap" class="btn btn-outline-secondary my-2 my-sm-0" type="button">HeatMap</button> --}}


    </div>

    <div id='ParallelDiv'>
        <div id="headLine">
            <a id='headline_a'>Attribute View</a>
        </div>
        <svg id='svg_parallel'></svg>
    </div>

</div>



</div>
<script src="/js/my/variable.js"></script>
<script src="/js/my/sactter.js"></script>
<script src="/js/my/mapView.js"></script>
<script src="/js/my/river.js"></script>
<script src="/js/my/radar.js"></script>
<script src="/js/my/force.js"></script>
<script src="/js/my/axis.js"></script>
<script src="/js/my/parallel.js"></script>
<script src="/js/my/cluster.js"></script>
<script src="/js/my/sankeyChart.js"></script>
<script src="/js/my/pixel_tree.js"></script>
<script src="/js/my/option.js"></script>