{{!--
<link rel="stylesheet" type="text/css" href="/css/jq22-demo.css"> --}}


<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/jquery/jquery-ui.min.js"></script>

<script src="/js/echarts/echarts.js"></script>
<script src="/js/d3/d3.v4.min.js"></script>
<script src="/js/bootstrap/Popper.js"></script>
<script src="/js/jquery/jquery-ui.min.js"></script>
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/hull.js"></script>
<script src="/js/d3.layout.cloud.js"></script>
<script src="/js/d3/sankey.js"></script>
<script src="/js/FileSaver.js"></script>

{{!-- <nav id="nav" class="navbar navbar-dark sticky-top  flex-md-nowrap p-0" style="border-bottom:3px solid rgb(216, 216, 216);">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="border-bottom:0.1px solid rgb(216, 216, 216);background-color:white;box-shadow:none;color:rgb(124, 124, 124);font-size:1.5em;">胜利油田</a>
</nav> --}}
<div class='left'>
    <div class='dataset'>
        <div id="headLine">
            <a id='headline_a'>Dataset</a>
        </div>
        <div id='radioDiv'>
            <div class="custom-control custom-radio " style='margin-left:13%;margin-top:5%;color:gray'>
                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input"
                    checked=True>
                <label class="custom-control-label" for="customRadioInline1">Citation Network</label>
            </div>
            <div class="custom-control custom-radio " style='margin-left:13%;margin-top:3%;color:gray'>
                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">Chicago Bicycle</label>
            </div>
            <div class="custom-control custom-radio " style='margin-left:13%;margin-top:3%;color:gray'>
                <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline3">Shenzhen Taxi</label>
            </div>
        </div>
    </div>
    <div class='paramList'>
        <div id="headLine">
            <a id='headline_a'>Parameters</a>
        </div>
        <div id='paramInner'>
            <div class="custom-control custom-checkbox" style='margin-top:7%;margin-left:13%;'>
                <input type="checkbox" class="custom-control-input" id="cited">
                <label class="custom-control-label" for="cited" id="citedLabel" style='color:gray'>Number of citations</label>
            </div>
            <div class="custom-control custom-checkbox" style='margin-top:7%;margin-left:13%;'>
                <input type="checkbox" class="custom-control-input" id="abt">
                <label class="custom-control-label" for="abt" id="abtLabel" style='color:gray'>Abstract</label>
            </div>
            <div class="custom-control custom-checkbox" style='margin-top:7%;margin-left:13%;'>
                <input type="checkbox" class="custom-control-input" id="conf" checked='true'>
                <label class="custom-control-label" for="conf" id="confLabel" style='color:gray'>Conference</label>
            </div>
            <div class="custom-control custom-checkbox" style='margin-top:7%;margin-left:13%;'>
                <input type="checkbox" class="custom-control-input" id="year" checked='true'>
                <label class="custom-control-label" for="year" id="yearLabel" style='color:gray'>Time</label>
            </div>
            <div class="custom-control custom-checkbox" style='margin-top:7%;margin-left:13%;'>
                <input type="checkbox" class="custom-control-input" id="aff">
                <label class="custom-control-label" for="aff" id="affLabel" style='color:gray'>First Author Affiliation</label>
            </div>

            <div class="custom-control custom-checkbox custom-control-inline" style='margin-top:7%;margin-left:13%;'>
                <input type="checkbox" class="custom-control-input" id="wt_5" checked='true'>
                <label class="custom-control-label" for="wt_5" id="wt_3_label" style='color:gray'>5 times</label>
            </div>

            <div class="custom-control custom-checkbox custom-control-inline" style='margin-top:7%;'>
                <input type="checkbox" class="custom-control-input" id="wt_10">
                <label class="custom-control-label" for="wt_10" id="wt_3_label" style='color:gray'>10 times</label>
            </div>

            <div class="custom-control custom-checkbox custom-control-inline" style='margin-top:7%;margin-left:13%;'>
                <input type="checkbox" class="custom-control-input" id="sl_5" checked='true'>
                <label class="custom-control-label" for="sl_5" id="sl_5_label" style='color:gray'>5 steps</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline" style='margin-top:7%;'>
                <input type="checkbox" class="custom-control-input" id="sl_10">
                <label class="custom-control-label" for="sl_10" id="sl_10_label" style='color:gray'>10 steps</label>
            </div>

            <div class="custom-control custom-checkbox custom-control-inline" style='margin-top:7%;margin-left:13%;'>
                <input type="checkbox" class="custom-control-input" id="ret_True">
                <label class="custom-control-label" for="ret_True" id="ret_True_label">True</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline" style='margin-top:7%;margin-left:13%;'>
                <input type="checkbox" class="custom-control-input" id="ret_False" checked='true'>
                <label class="custom-control-label" for="ret_False" id="ret_False_label">False</label>
            </div>
            <div class='btn_out'>
                <button id="confirm" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Confirm</button>
            </div>
        </div>
    </div>

    <div class='OriTopo'>
        <div id="headLine">
            <a id='headline_a'>Original topology</a>
        </div>
        <div class='svg_oriTopoDiv'>
            <svg id='svg_oriTopo'></svg>
        </div>

    </div>
</div>

<div class='mid'>
    <button id="cluster_layout" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Cluster Layout</button>

    <div class='forceDiv'>
        <svg id='svg_force'></svg>
    </div>

    <div class='sankeyDiv'>
        <svg id='svg_sankey'></svg>
    </div>
</div>

<div class='right'>

    <div class='scatter'>
        {{!-- <button id="point" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Point</button> --}}
        <button id="brush" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Brush</button>
        <button id="cluster" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Cluster</button>

        <div class="dropdown" id='dropdown'>
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style='font-size:0.8em;padding:.0rem .5rem;color:gray;background-color:white;border-color:gray;'>
                walk combination
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id='options'>
            </div>
        </div>
        <svg id='svg_scatter'></svg>
    </div>

    <div class='paramDiv'>
    </div>

</div>



</div>
<script src="/js/my/variable.js"></script>
<script src="/js/my/sactter.js"></script>
<script src="/js/my/force.js"></script>
<script src="/js/my/axis.js"></script>
<script src="/js/my/sankeyChart.js"></script>
<script src="/js/my/option.js"></script>