{{!--
<link rel="stylesheet" type="text/css" href="/css/jq22-demo.css"> --}}


<script src="/js/echarts/echarts.js"></script>
<script src="/js/d3/d3.v4.min.js"></script>
<script src="/js/bootstrap/Popper.js"></script>
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/jquery/jquery-ui.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/hull.js"></script>
<script src="/js/d3.layout.cloud.js"></script>
<script src="/js/d3/sankey.js"></script>
<script src="/js/FileSaver.js"></script>
<script src="/js/d3/d3-ForceEdgeBundling.js"></script>
<script src="/js/leaflet/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
    crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
    crossorigin=""></script>


{{!-- <nav id="nav" class="navbar navbar-dark sticky-top  flex-md-nowrap p-0" style="border-bottom:3px solid rgb(216, 216, 216);">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="border-bottom:0.1px solid rgb(216, 216, 216);background-color:white;box-shadow:none;color:rgb(124, 124, 124);font-size:1.5em;">胜利油田</a>
</nav> --}}
<div id='left'>
    <div id='dataset'>
        <div id="headLine">
            <a id='headline_a'>Dataset</a>
        </div>
        <div id='radioDiv'>
            <div class="custom-control custom-radio " style='margin-left:13%;margin-top:5%;color:gray'>
                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input"
                    checked=True>
                <label class="custom-control-label" for="customRadioInline1">Citation Network</label>
            </div>
            <div class="custom-control custom-radio " style='margin-left:13%;margin-top:3%;color:gray'>
                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">Chicago Bicycle</label>
            </div>
            <div class="custom-control custom-radio " style='margin-left:13%;margin-top:3%;color:gray'>
                <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline3">Shenzhen Taxi</label>
            </div>
        </div>
    </div>

    <div id='control_pannel'>
        <div id="headLine">
            <a id='headline_a'>Control Pannel</a>
        </div>
        <div id='controlInner'>
            <div class='slider_out'>
                <span class='slider_span'>Walk Times:
                </span>
                <input type="text" id="times_text" class='slider_input' value=5>
                <div id='walk_times' class='slider'></div>
            </div>
            <div class='slider_out'>
                <span class='slider_span'>Walk Length:
                </span>
                <input type="text" id="length_text" class='slider_input' value=5>
                <div id='walk_length' class='slider'></div>
            </div>
            <div id='radio_out'>
                <span class='slider_span'>Return:</span>
                <div class="custom-control custom-radio custom-control-inline" style='margin-left:5%;margin-top:5%;color:gray'>
                    <input type="radio" id="ret_True" name="customRadioInline_return" class="custom-control-input">
                    <label class="custom-control-label" for="ret_True">True</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" style='margin-left:0%;margin-top:3%;color:gray'>
                    <input type="radio" id="ret_False" name="customRadioInline_return" class="custom-control-input"
                        checked=True>
                    <label class="custom-control-label" for="ret_False">False</label>
                </div>
            </div>

            <div class='btn_out'>
                <button id="confirm" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Confirm</button>
            </div>
        </div>

    </div>

    <div id='OriTopo'>
        <div id="headLine">
            <a id='headline_a'>Original Topology</a>
        </div>
        <div id='map'></div>
    </div>
</div>

<div id='mid'>

    <div id='forceDiv'>
        <div id="headLine">
            <a id='headline_a'>Abstraction View</a>
        </div>
        <svg id='svg_force'></svg>
        <button id="cluster_layout" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Cluster Layout</button>
        <button id="edge_bundling" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Edge Bundling</button>

        {{!-- <button type="button" class="btn btn-default" aria-label="Left Align" id='zoomIn'>
            <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" aria-label="Left Align" id='zoomOut'>
            <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" aria-label="Left Align" id='Buttonleft'>
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" aria-label="Left Align" id='Buttonright'>
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button> --}}
        <div id='attributes'>
            <div id='attrInner'>
                <div class="custom-control custom-checkbox custom-control-inline" style='margin-top:7%;margin-left:13%;'>
                    <input type="checkbox" class="custom-control-input" id="0" checked='true'>
                    <label class="custom-control-label" for="0" id="citedLabel" style='color:gray'>6:00 ~ 9:00</label>
                </div>
                <div class='tuli' style='background-color:#50ab4c'></div>

                <div class="custom-control custom-checkbox" style='margin-top:7%;margin-left:13%;'>
                    <input type="checkbox" class="custom-control-input" id="1">
                    <label class="custom-control-label" for="1" id="abtLabel" style='color:gray'>10:00 ~ 13:00</label>
                </div>
                <div class='tuli' style='background-color:#A597FF'></div>

                <div class="custom-control custom-checkbox" style='margin-top:7%;margin-left:13%;'>
                    <input type="checkbox" class="custom-control-input" id="2">
                    <label class="custom-control-label" for="2" id="confLabel" style='color:gray'>14:00 ~ 17:00</label>
                </div>
                <div class='tuli' style='background-color:#FFAB7C'></div>

                <div class="custom-control custom-checkbox" style='margin-top:7%;margin-left:13%;'>
                    <input type="checkbox" class="custom-control-input" id="3">
                    <label class="custom-control-label" for="3" id="yearLabel" style='color:gray'>18:00 ~ 21:00</label>
                </div>
                <div class='tuli' style='background-color:#EE89FF'></div>

                <div class="custom-control custom-checkbox" style='margin-top:7%;margin-left:13%;'>
                    <input type="checkbox" class="custom-control-input" id="4">
                    <label class="custom-control-label" for="4" id="affLabel" style='color:gray'>22:00 ~ 6:00</label>
                </div>
                <div class='tuli' style='background-color:#00D8FF'></div>

            </div>

        </div>
    </div>

    <div id='parallelDiv'>
        <div id='sankeyDiv'>
            <div id="headLine">
                <a id='headline_a'>Sankey View</a>
            </div>
            <svg id='svg_sankey'></svg>
        </div>
        <div id='radarDiv'>
            <div id="headLine">
                <a id='headline_a'>Radar View</a>
            </div>
            <svg id='svg_radar'></svg>
        </div>
    </div>
</div>>
<div id='right'>

    <div id='scatter'>
        <div id="headLine">
            <a id='headline_a'>Projection View</a>
        </div>
        {{!-- <button id="point" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Point</button> --}}

        <svg id='svg_scatter'></svg>
        <button id="cluster" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Cluster</button>

        <div class="dropdown" id='dropdown'>
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style='font-size:0.8em;padding:.0rem .5rem;'>
                walk combination
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id='options' style='min-width:9rem;'>
            </div>
        </div>
    </div>

    <div id='paramDiv'>
        <div id="headLine">
            <a id='headline_a'>Tree View</a>
        </div>
        <button id="confirm_cluster" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">confirm</button>
        <svg id='svg_tree'></svg>

    </div>

</div>



</div>
<script src="/js/my/variable.js"></script>
<script src="/js/my/sactter.js"></script>
<script src="/js/my/mapView.js"></script>
<script src="/js/my/river.js"></script>
<script src="/js/my/radar.js"></script>
<script src="/js/my/force.js"></script>
<script src="/js/my/axis.js"></script>
<script src="/js/my/parallel.js"></script>
<script src="/js/my/cluster.js"></script>
<script src="/js/my/sankeyChart.js"></script>
<script src="/js/my/pixel_tree.js"></script>
<script src="/js/my/option.js"></script>